.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidenav {
  flex: 0 0 30%; /* Adjust sidebar width here */
  height: calc(100vh - 120px); /* Adjust based on your header height */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  overflow-y: auto; /* Enable vertical scrolling */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f1f5f9; /* Background color for the main content */
  padding: 20px;
}


.dashboard-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px; /* Adjust this value to be the height of your header */
}

.content {
  margin-left: 200px; /* Match this value to the width of the sidebar */
  padding: 20px;
  flex-grow: 1;
  height: 100vh; /* Full height */
}
