.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #f1f5f9;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* .sidenav {
  flex: 0 0 30%; 
  height: calc(100vh - 120px); 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
  overflow-y: auto; 
} */

.main-contentt {
  flex: 1;
  overflow-y: auto;
  background-color: #f1f5f9; 
  padding: 20px;
}


.dashboard-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px; 
}

.content {
  margin-left: 200px; 
  padding: 20px;
  flex-grow: 1;
  height: 100vh;
}
