.hire-writers-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 9rem;
  max-width: 1200px;

}

.order-content-btn {
  padding: 10px 20px;
  background-color: #007bff; /* Nice blue color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-content-btn:hover {
  background-color: #0056b3; 
  border-radius: 12px;

}
.writers-info {
  width: 20%;
  margin-left: 50px;
}

.meet-expert {
  font-size: 4.25rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 10px;
  white-space: pre-wrap;
  margin-top: 0rem;
  

}

.writers-info p {
  font-size: 1.5rem;
  line-height: 1.5;

}

.writers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 75%;
  border-radius: 12px;
  margin-left: 5rem;


}

.writer-card {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 12px;

}

.writer-img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;

}

.writer-card:hover .writer-img {
  border-radius: 12px;

  filter: grayscale(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.writer-card:hover .overlay {
  border-radius: 12px;

  opacity: 1;
}

.overlay h6 {
  font-size: 0.9rem;
  margin: 5px 0;
}

.overlay p {
  font-size: 0.75rem;
  margin-bottom: 10px;
  text-align: center;
}

.hire-btn {
  padding: 5px 10px;
  background-color: #5da8ff;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}

.hire-btn:hover {
  background-color: #007bff;
  
}



/* Loader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

