.work-experience-section {
    margin-bottom: 30px;
  }
  
  .experience-entry {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover {
    background-color: #ff3333;
  }
  
  .add-button {
    background-color: #078BC8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #056b99;
  }