.order-article-container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  
  .order-your-article {
    
    font-size: 1.4em;
    font-weight: bold;
  }
  .form-side {
    width: 70%;
    padding: 20px;
    /* border: 1px solid #17c3cf; */
    /* border: 1px solid #7ca7d4; */
    border: 1px solid #9fb6ce;

    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
  }
  
  .hire-writer-side {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    /* border: solid 1px #7ca7d4; */
    border: 1px solid #9fb6ce;

    height: 420px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 1050px) {
    .hire-writer-side {
      width: 40%;
      height: 450px;
      padding: 15px;
    }
  }
  
  @media (max-width: 992px) {
    .hire-writer-side {
      width: 40%;
      height: 550px;
      padding: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .hire-writer-side {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .hire-writer-side {
      width: 100%;
      height: auto;
      padding: 10px;
      border: none;
      border-radius: 0;
    }
  }
  
  
  .writers-image {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-bottom: 10px;
  }
  .hire-writers{
    font-weight: bold;
    font-size: 1.2em;
  }
  .hire-writers-text{
    font-size: 1em;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .article-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em; 
    font-weight: 800;
  }
  
  /* General form control style */
.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid #e0e0e0; /* Keeps the grey-white border */
  border-radius: 4px;
  appearance: none; /* Removes the default arrow for most form controls */
}

/* Special case for select elements to keep the dropdown arrow */
select.form-control {
  appearance: auto; /* Restores the default arrow on select elements */
  padding-right: 40px; /* Adjust padding for icon positioning if necessary */
  background-color: white; /* Ensure the background is consistent */
}

  
  .input-error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  
  .secondary {
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    transition: all 0.3s ease; /* Added smooth transition */
  }
  
  .secondary:hover {
    background-color: white;
    color: black;
    border: 2px solid #929292; /* Darker border on hover */
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  
