.form-container {
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button-article {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    margin-right: 10px;
}


.order-article-title {
    position: relative;
    padding: 20px 30px;
    background: linear-gradient(to right, #078BC8, #1F4283, #1F4384);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center; /* Center the title text */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .order-article-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent);
    z-index: 1;
  }
  
  .order-article-title::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 0;
  }
  