
.top-navbar {
    height: auto;
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px;
    color: #333333;
    border: solid 1px #e9e1e1;
  }
  
  
  
  
  
  
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    align-items: center;
  }
  
  .nav-list li {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 100%;
    cursor: pointer;
    color: #000000; /* Black text */
    background-color: #f3f3f3; /* Light grey background */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .nav-list li:hover {
    background-color: #000000; /* Black background on hover */
    color: #ffffff; /* White text on hover */
  }
  
  
  .nav-list .home {
    background-color: white; 
    color: #ffffff; 
    border-radius: 10px 0 0 10px;
    /* background-image: linear-gradient(-180deg, #007BFF, #0056D2); */
    background-color: #000000;
  
  
  }
  
  .nav-list .about,
  .nav-list .faq {
    background-color: #f0f0f0; 
    margin-left: 1px;
    color: #333333; 
  }
  
  .nav-list .contact {
    background-color: #e8e8e8; 
    color: #333333; 
    border-radius: 0 15px 15px 0;
    margin-left: 1px;
    width: 160px;
    justify-content: center;
  }
  
  .menu {
    margin-left: 10px;
    border-radius: 4px;
    background-color: #333333; 
    color: white; 
  }
  
  .wallet {
    margin-left: 5px;
    border-radius: 4px;
  
  }
  
  
  
  .profile {
    margin-left: 10px;
    border-radius: 4px;
    background-color: #333333; 
    color: white;
    padding: 5px 10px;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
      height: auto;
    }
  
    .nav-list li {
      width: 100%;
      margin: 2px 0;
      border-radius: 10px;
    }
  
    .nav-list .contact {
      width: 100%;
    }
  
    .phone-number,
    .notification,
    .profile {
      width: 100%;
      justify-content: center;
    }
  }
  
  
  
  