.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .main-content p {
    font-size: 1.2em;
  }
  