.headerr {
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Sticks it to the top of the page */
  width: 100%; /* Ensures it spans the entire width of the screen */
  z-index: 1000; /* Makes sure it's above other content */
  
  display: flex;
  height: 80px;
  padding: 0 10px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}


.enwrit {
  height: 140px;
  width: 120px;
  object-fit: contain;
  padding: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.header-middle {
  display: flex;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

.nav-icon {
  font-size: 18px; 
  color: #000000;
}

.nav-text {
  margin-top: 5px; 
  font-size: 14px;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-item:hover .nav-text {
  color: #5da8ff;
}

.border-button {
  border: 2px solid #2b6cb0;
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.border-button:hover {
  background-color: #f8f7f7;
  color: #000000;
}

.blue-button {
  /* background-color: #5da8ff; */
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;


  background: linear-gradient(to right, #2b6cb0, #2c5282);
  box-shadow: 0 12px 24px rgba(66, 153, 225, 0.5);
  transform: translateY(-4px);
}

.blue-button:hover {
  background-color: #78bafc;
}

@media (max-width: 768px) {
  .headerr {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .header-right {
    flex-direction: column;
    gap: 15px;
  }

  .header-middle {
    justify-content: center;
  }
}
