/* Main Container */
.containerrr {
  display: grid;              
  grid-template-columns: 50% 50%;
  margin-top: 92px;
}

/* Left and Right Sections */
.left-section, .right-section {
  padding: 20px;              
  display: grid;             
  gap: 20px;                 
}

.left-section {
  grid-template-rows: repeat(2, 1fr); /* Two equal rows for two items */
  background-color: #f8f9fa;  /* Light grey background */
}

.right-section {
  grid-template-rows: repeat(7, 50px); 
  grid-template-columns: repeat(7, 1fr);
  margin-top: 80px;
  grid-template-areas: 
  "  .  .  .  .  .  right-item7  right-item7"
  "  .  .  .  .  .  right-item7  right-item7"
  "  .  .  .  .  right-item6  right-item7  right-item7"
  "  .  .  .  .  right-item6  right-item7  right-item7"
  "  .  .  .  right-item4  right-item6  right-item5  right-item5"
  "  .  .  .  right-item4  right-item6  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  right-item5  right-item5"
  "  .  .  .  right-item4  right-item3  .  ."
  "  .  .  .  .  right-item3  .  ."
  "  .  .  .  .  right-item3  .  ."
  "  .  .  .  .  right-item3  .  ."
  "  .  .  .  .  right-item3  .  ."

}

/* Style for left and right items */
.left-item, .right-item {
  background-color: #5da8ff;  
  color: white;               /* White text */
  border-radius: 8px;         /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Image Styling */
.right-item img {
 height: 200px;
 width: 100px;
  border-radius: 8px;  /* Match container style */
}

/* Specific Grid Areas */
.right-item3 {
  grid-area: right-item3;
}

.right-item4 {
  grid-area: right-item4;
}

.right-item5 {
  grid-area: right-item5;
}

.right-item6 {
  grid-area: right-item6;
}

.right-item7 {
  grid-area: right-item7;
}
