.hero-image-container {
  position: relative;
  width: 100%;
  height: 350px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, rgba(83, 188, 230, 0.8), rgba(255, 255, 255, 0.1), rgba(83, 188, 230, 0.8)); */
  /* background: linear-gradient(to right, rgba(83, 188, 230, 0.4), rgba(255, 255, 255, 0.1), rgba(83, 188, 230, 0.4)); */
  background: linear-gradient(to right, rgba(83, 188, 230, 0.2), rgba(255, 255, 255, 0.1), rgba(83, 188, 230, 0.2));
   display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
  border: none;
}

.overlay p {
  font-size: 24px;
  font-weight: 400;
  margin: 0; 
  color: white;
  line-height: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.business-page {
  display: flex;
  justify-content: space-between; /* Ensures space is evenly distributed */
  align-items: flex-start;        /* Align items to the top */
  padding: 20px;
  position: relative;
  margin-top: -60px;
  z-index: 10;
  max-width: 1200px;              /* Limit the maximum width for centering */
  margin-left: auto;              /* Center the container */
  margin-right: auto;             /* Center the container */
}

.left-div,
.right-div {
  flex: 0 0 49%;                  /* Take up 45% of the container width each */
  padding: 20px;
  box-sizing: border-box;         /* Include padding and border in the width calculation */
}

.left-div {
  background-color: #53BCE6;      /* Background color for the left div */
  color: #ffffff;
  height: 80px;
  border-radius: 8px;

}

.right-div {
  background-color: #f9f9f9;      /* Background color for the right div */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.features {
  display: flex;
  justify-content: space-around;  /* Evenly space items within this div */
  align-items: center;
  height: 40px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item i {
  font-size: 24px;
  margin-bottom: 5px;
}

.empower-title {
  font-size: 24px;
  margin-top: 20px;
}

.feature-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}


.google-button {
  display: flex;
  align-items: center;
  background-color: #db4437;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signin-question {
  margin-top: 10px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.my-input{
  cursor: text;
  padding: 6px 8px;
  }


.signup-title{
  background: #F4F4F2;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  margin-bottom: 20px;

}
