.talent {
  color: black;
  font-size: 44;
  font-weight: 800;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f8f9fa;
}

.hero-left, .hero-right {
  margin-top: 40px;
}
.hero-left {
  width: 60%;
}

.hero-left h1 {
  font-size: 36px;
  margin: 0 0 10px 0;
}

.hero-description {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
  line-height: 1.5;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.icon-box {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-box .icon {
  margin-right: 10px;
  font-size: 18px;
  color: #5da8ff;
}

.icon-box span {
  font-size: 16px;
  font-weight: bold;
}

.get-started-btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #5da8ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0; /* No border radius */
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 20px;
}

.get-started-btn:hover {
  background-color: #4291e0;

}

.hero-right {
  width: 40%;
}

.hero-image {
  width: 100%;
  border-radius: 20px;
  border-bottom: 2px solid #565657;
}
