

  /* .services-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: start;
    padding: 0;
    background: linear-gradient(to right, rgba(132, 132, 132, 0.1) 1px, transparent 1px);
    background-size: 295px 200px;
    background-position: calc(100px / 2) calc(100px / 2);
    align-items: start; 

  } */


/* Services.css */

.services-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(132, 132, 132, 0.1) 1px, transparent 1px);
    background-size: 297px 200px;
    background-position: calc(100px / 2) calc(100px / 2);
  }
  
  .frameonecontent,
  .frametwocontent {
    width: 50%;
  }

  .frameonecontent {
    margin-top: 50px;
    padding-left: 50px;

  }

  .frametwocontent {
    margin-top: 150px;
    padding-right: 50px;
  }

  .frameonecontentbox {
    border: none;
  }
  .frametwocontentbox {
    border: none;

  }
  .box-frame{
    border: solid 1px #000;
    margin-bottom: 20px;

  }
  .frame-box{
    height: 300px;
    padding: 20px;
    border-bottom: 1px solid #000;

  }

  .box2-frame{
    border: solid 1px #000;
    margin-bottom: 20px;

  }
  .frame2-box{
    height: 300px;
    padding: 20px;
    border-bottom: 1px solid #000;
    border-left: none;

  }
  .service-box {
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .service-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .last-box {
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
  }
  
