/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Signup container */
  .signup-container {
    width: 370px;
    padding: 40px;
    background-color: white;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
  }
  
  /* Form Header */
  .signup-header {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  
  .header-divider {
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 20px;
  }
  
  /* Form */
  .signup-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .signup-form input {
    width: 100%;
    padding: 12px;
    border: 2px solid #d3d3d3;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 0; /* No border radius */
  }
  
  /* Social login buttons */
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .social-button {
    width: 48%;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .facebook-button {
    background-color: #3b5998;
  }
  
  .google-button {
    background-color: #db4437;
  }
  
  /* Sign-up button */
  .signup-button {
    width: 100%;
    padding: 12px;
    background-color: #5da8ff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 0; /* No border radius */
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .signup-button:hover {
    background-color: #78bafc;
  }
  
  /* Terms and conditions */
  .terms-and-conditions {
    background-color: #f4f6f8;
    padding: 10px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    color: #666;
    text-align: center;
  }
  
  .terms-and-conditions .link {
    color: #5da8ff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .terms-and-conditions .link:hover {
    color: #78bafc;
  }
  