.why-choose-us-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .why-choose-us-heading {
    font-size: 18px; /* Adjusts the h6 size */
    font-weight: bold;
    color: #078BC8; /* Custom color */
    letter-spacing: 1.5px; /* Adds spacing between letters */
    text-transform: uppercase; /* Makes all letters uppercase */
    margin-bottom: 10px;
    position: relative;
  }
  
  .why-choose-us-heading::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #078BC8;
    margin: 8px auto 0 auto; /* Centers the underline */
  }
  
  .why-choose-us-paragraph {
    font-size: 14px;
    color: #64748b; /* Greyish color */
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 0.5px; /* Adds slight spacing */
  }