.testimonials-section {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.main-heading {
  font-size: 1rem;
  color: #d3d3d3;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 3.8rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 900;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.testimonial {
  width: 48%;
  display: flex;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative; /* Important for absolute positioning */
}

.reviewer-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 23%;
  bottom: -30px;
  transform: translateX(-50%);
  border: 4px solid white;
  z-index: 2;
}

.icon-container {
  width: 230px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02c6f7;
  border-radius: 10px;
  margin-top: 0px; /* Push the icon down */
  z-index: 1;
}

.review-content {
  text-align: left;
  flex-grow: 1;
  margin-left: 1.5rem;
}

.review-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.stars {
  color: #ffcc00;
  margin-bottom: 1rem;
}

.reviewer-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.reviewer-role {
  font-size: 1rem;
  color: #777;
}
