.search-container {
  min-height: 100vh;
  width: 100%;
  margin-top: 250px;
}

.right-content-manage {
  width: 69%;
  height: 600px;
  margin-left: 26.8%;
  margin-right: 4.2%;
  border: 1px solid #000;
  background-color: transparent;

}

.contentt-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-line {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  margin: 0;               /* Remove margins */
  height: 100vh;    
  padding-top: 40px;      
  margin-bottom: -40px;
}

.heading-text {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin: 0 10px; /* Adds space between the text and the icon */
}

.camera-icon {
  font-size: 40px;
  color: #000;
}



.main-headingg {
  font-size: 120px;          /* Keep large font size */
  font-weight: 900;         /* Maintain heavy weight */
  letter-spacing: -6px;     /* More negative spacing to condense */
  line-height: 0.8;         /* Reduced line height for tighter spacing */
  text-transform: uppercase; /* Convert text to uppercase */
  word-spacing: -10px;      /* Reduce word spacing for tighter appearance */
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 3.5px; 
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
    -webkit-text-stroke: 4px black; 
    padding-left: 20px;
}



.sub-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}



.about-us-description {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin: 0 10px; /* Adds space between the text and the icon */
}

.about-us-headline {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  margin: 0;               /* Remove margins */
  height: 100vh;           /* Makes the div take full viewport height for vertical centering */

}

/* Icon styling */
.camera-icon {
  width: 32px;
  height: 32px;
  color: #000;
}



