.email-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
}



.email-group {
  margin-bottom: 20px;
}

.email-label {
  display: inline-block;
  color: #078BC8;
  padding: 5px 10px;
  border-radius: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.email-input,
.email-textarea,
.email-select {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #078BC8;
  border-radius: 15px;
  background-color: white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.email-input:focus,
.email-textarea:focus,
.email-select:focus {
  outline: none;
  border-color: #056b99;
  box-shadow: 0 0 5px #056b99;
}

.email-textarea {
  height: 150px;
}

.email-submit-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #078BC8;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-submit-button:hover {
  background-color: #056b99;
}

.email-submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.email-results {
  margin-top: 30px;
}

.email-preview-title {
  color: #078BC8;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.email-preview {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
