.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .main-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    height: 40px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-shrink: 0; /* Ensures the header does not shrink */
  }
  
  .cont {
    flex: 1;
    overflow-y: auto; /* Enables scrolling for the content only */
    padding: 20px;
  }
  