/* App.css */

.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f3f3ee;
    padding: 20px;
    overflow-y: scroll; /* Force the scrollbar to always be visible */
}

/* Custom scrollbar for WebKit browsers */
.sidebar::-webkit-scrollbar {
    width: 0.5em;

}

.sidebar::-webkit-scrollbar-track {
    background-color: #dadada;
  }

.sidebar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid rgb(0, 0, 0);
  }
  
  .main-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    margin-left: 3px;
  }
  
  .header {
    height: 50px;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .cont {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .horizontal-line {
    width: 100%;       
    height: 1px;      
    background-color: rgb(219, 219, 219); 
  }
  

  .page-wrapper {
    height: 100vh;
    transition: all 0.3s ease;
  }
  
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0;
  }
  
   .sidebar-wrapper {
    width: 260px;
    height: 100%;
    top: 0;
    background: #fbfbfc;
    z-index: 999;
    transition: left 0.3s ease;
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
    color: #818896;
    transition: all 0.3s ease;
  }
  
  
   .sidebar-menu {
    border-top: 1px solid #dadada;
  }
  
  .sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar-wrapper .sidebar-brand a {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .sidebar-wrapper .sidebar-header {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-wrapper .user-pic {
    width: 60px;
    margin-right: 15px;
  }
  
  .sidebar-wrapper .user-pic img {
    width: 100%;
    border-radius: 12px;
  }
  
  .sidebar-wrapper .user-info > span {
    display: block;
  }
  
  .sidebar-wrapper .user-info .user-role {
    font-size: 12px;
  }
  
  .sidebar-wrapper .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
  }
  
   .sidebar-wrapper .sidebar-menu ul li a {
    display: block;
    padding: 8px 20px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px;
  }
  
  
  
  
  .logo {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 36px;
    display: inline-block;
  }
  
  .en,
  .writers {
    color: black;
  }
  
  .dot {
    color: #078BC8;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.1em;
  }
  
  .logo .en,
  .logo .writers {
    letter-spacing: 1px; 
  }
  
  

/* 

  .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
  }
  
   .sidebar-dropdown  {
    padding: 5px 0;
  }
  
   .sidebar-dropdown {
    padding-left: 25px;
    font-size: 13px;
  }
  
   .sidebar-dropdown  {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
  } */
  
  
 
  
































  
  .sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    top: 0;
  }
  
  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
  }
  
 
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }

 
  
  .sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
  }
  
  
  
  
  /*--------------------------page-content-----------------------------*/
  
  
  /*------scroll bar---------------------*/
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  
  
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      border-color: transparent;
      box-shadow: none;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  
  .chiller-theme .sidebar-footer>a {
      color: #818896;
  }
  
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
  .chiller-theme .sidebar-footer>a:hover i {
      color: #b8bfce;
  }
  
  
  .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
      background: #3a3f48;  
    }