.dashboard-main {
    padding: 20px;
  }
  
  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 40px;
  }
  
  .welcome-message h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .welcome-message p {
    font-size: 18px;
    color: #666666;
    margin: 0;
  }
  
  .dashboard-image {
    width: 200px;
    height: auto;
  }
  
  .overview-section {
    margin-top: 40px;
  }
  
  /* .overview-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  } */
  
  .statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .stat-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .stat-item h3 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .features-section {
    margin-top: 40px;
  }
  
  .features-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feature-item h3 {
    margin-top: 0;
    font-size: 20px;
  }