
  

  .overview-section {
    margin-top: 40px;
  }
  
  .overview-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .stat-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px; /* Reduced border radius */
    flex: 1 1 calc(25% - 20px); /* Reduced width for four items */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for a grey line effect */
    display: flex; /* Added for content arrangement */
    align-items: center; /* Added for content arrangement */
  }
  
  .stat-image {
    width: 50px; /* Adjust width as needed for your images */
    height: 50px; /* Adjust height as needed for your images */
    margin-right: 20px; /* Spacing between image and content */
  }
  
  .stat-content {
    flex: 1; /* Allow content to fill remaining space */
  }
  
  .stat-content h3 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .stat-content p {
    margin-top: 5px;
    font-size: 16px;
  }
  
  .stat-content span {
    font-weight: bold; /* Emphasize numbers */
  }