.top-nav, .middle-nav, .bottom-nav {
  display: flex;
  align-items: center;
}

.top-nav {
  height: auto;
  background: linear-gradient(to bottom, #078BC8, #056b99, #034d6e);
  color: white; 
  font-size: 16px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



@media (max-width: 768px) {
  .top-nav, .middle-nav, .bottom-nav {
    flex-direction: column;
    text-align: center;
  }

  .bottom-nav {
    justify-content: center;
  }

  .search-container {
    margin-bottom: 10px;
  }

  .search-bar {
    max-width: none;
  }

  .gradient-button {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .top-nav, .middle-nav {
    font-size: 14px;
  }

  .gradient-button {
    padding: 8px;
    font-size: 14px;
  }
}
