/* .dashboard-header {
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, #078BC8, #1F4283, #1F4384);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
} */
.dashboard-header {
  height: auto;
  width: 100%;
  /* background: linear-gradient(to bottom, #078BC8, #056b99, #034d6e); */
  background: linear-gradient(to bottom, #078BC8, #0C6B9E, #0A5A85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-nav, .middle-nav, .bottom-nav {
  display: flex;
  align-items: center;
}

.top-nav {
  height: auto;
  background: linear-gradient(to bottom, #078BC8, #056b99, #034d6e);

  color: white; 
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
}

.middle-nav {
  height: auto;
  margin: 10px 0;
  color: white;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  height: 36px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px; 
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #056b99;
  font-size: 24px;
  font-weight: bold;
}



.gradient-button {
  /* background: linear-gradient(to right, #078BC8, #1F4283); */
  background-image: linear-gradient(to right, #f0f0f0, #d0d0d0, #b0b0b0);

  height: 36px;
  width: 100px;
  color: #000000;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gradient-button i {
  margin-left: 10px;
  color: #056b99;
  font-size: 20px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .top-nav, .middle-nav, .bottom-nav {
    flex-direction: column;
    text-align: center;
  }

  .bottom-nav {
    justify-content: center;
  }

  .search-container {
    margin-bottom: 10px;
  }

  .search-bar {
    max-width: none;
  }

  .gradient-button {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .top-nav, .middle-nav {
    font-size: 14px;
  }

  .gradient-button {
    padding: 8px;
    font-size: 14px;
  }
}
