.dashboard-header {
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, #078BC8, #1F4283, #1F4384);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.top-nav, .middle-nav, .bottom-nav {
  display: flex;
  align-items: center;
}

.top-nav {
  height: 30px;
  width: 30%;
  background: linear-gradient(to bottom, #078BC8, #1F4283, #1F4384);
  color: white;
  font-size: 12px;
  justify-content: center;
  margin: auto;
  border-radius: 6px;
}

.middle-nav {
  height: 10px;
  color: white;
  font-size: 12px;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.middle-nav span {
  display: inline-block;
  animation: slide-left 10s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bottom-nav {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
  margin-right: 5px;
}

.gradient-button {
  background: linear-gradient(to right, #078BC8, #1F4283);
  color: white;
  border: none;
  padding: 0px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.gradient-button i {
  margin-right: 5px;
}


  /* .middle-nav {
    position: relative;
    width: 100%;
    text-align: center;
  } */
  
  /* .middle-nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
  }
  
  .middle-nav span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
  
  .middle-nav:hover span {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  
  .middle-nav:hover span::after {
    opacity: 1;
  } */










































  
  .bottom-nav {
    justify-content: center;
    height: 60px;
  }
  
  .bottom-nav button span i {
    font-size: 24px;
    color: #1F4283;
    margin-right: 10px;
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    height: 36px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 200px; 
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #1F4283;
    font-size: 24px;
    font-weight: bold;
  }
  
  .gradient-button {
    height: 36px;
    width: 120px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f0f0f0, #d0d0d0, #b0b0b0);
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  