/* Home.css */

.home-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of boxes */
    gap: 10px; /* Space between boxes */
    padding: 20px; /* Padding around the container */
  }
  
  .home-box {
    flex: 1 1 calc(25% - 20px); /* Responsive width for boxes */
    padding: 20px;
    border-radius: 0px; /* Rounded corners */
    color: white; /* White text color */
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    justify-content: center; /* Center align content */
    align-items: center; /* Center align content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow */
    transition: transform 0.3s; /* Transition for hover effect */
  }
  
  .home-box:hover {
    transform: translateY(-5px); /* Lift effect on hover */
  }
  