.order-now {
    padding: 20px;
  }
  
  .services-header {
    margin-bottom: 20px;
  }
  
  .services-container {
    display: flex;
    gap: 20px;
  }
  
  .service-items-header {
    flex: 1 100%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .service-items {
    flex: 2;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .service-item {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .service-icon {
    width: 50px;
    height: 50px;
  }
  
  .service-text {
    flex-grow: 1;
  }
  
  .service-text h3 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .service-text p {
    font-size: 16px;
    margin: 0;
  }
  
  .service-text hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
    width: 100%;
  }
  
  .service-text ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .service-text li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hire-writer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .people-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .hire-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .order-now {
    padding: 20px;
  }
  
  .services-header {
    margin-bottom: 20px;
  }
  
  .services-container {
    display: flex;
    gap: 20px;
  }
  
  .service-items {
    flex: 2;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .service-item {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .service-icon {
    width: 50px;
    height: 50px;
  }
  
  .service-text {
    flex-grow: 1;
  }
  
  .service-text h3 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .service-text p {
    font-size: 16px;
    margin: 0;
  }
  
  .service-text hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
    width: 100%;
  }
  
  .service-text ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .service-text li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hire-writer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .people-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .hire-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Overview Section Styles */
  
  .overview-section {
    margin-top: 40px;
  }
  
  .overview-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Features Section Styles */
  
  .features-section {
    display: flex;
    margin-top: 40px;
  }
  
  .features-content {
    flex: 1; /* Takes all available space */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.
  