.sidena {
  width: 260px;
  height: calc(100vh - 40px); /* Adjust the height to account for the header height */
  background-color: white;
  padding: 20px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
  /* border: 2px solid #e0e0e0; */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px 1px rgba(27, 31, 35, 0.15);
  overflow-y: auto;
  z-index: 100;
  top: 60px; /* Adjust this value to the height of your header */
  left: 0;
  color: black;
}

.sidena a {
  text-decoration: none;
  color: inherit; /* Ensures the link color inherits the surrounding text color */
}

/* Other existing styles */
.sidebar-content-item {
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a bottom border for separation */
}

.sidebar-dropdown {
  list-style: none;
  padding-left: 10px; /* Adjusted padding for better alignment */
  margin: 10px 0 0;
  color: black;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly different background for dropdown */

  /* border: 1px solid rgba(0, 0, 0, 0.1);  */

  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow */
  width: 200px;
}

.sidebar-dropdown a {
  text-decoration: none;
  color: inherit;
}

.sidebar-dropdown li {
  padding: 10px; /* More space between dropdown items */
  color: #555;
  transition: background-color 0.3s;
}

.sidebar-dropdown li:hover {
  background-color: rgba(118, 189, 255, 0.2); /* Hover effect for dropdown items */
  color: black;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  color: #333; 
  transition: background-color 0.3s; 
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.sidebar-item a {
  text-decoration: none;
  color: inherit;
}

.sidebar-item:hover {
  background-color: rgba(118, 189, 255, 0.2); 
  color: black;
}

.sidebar-item a:hover {
  color: #3498db; /* Optional hover color for links */
}
