/* Outer container */
.blog-form-container {
  background-color: #fffdfd;
  width: 800px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Inner container */
.blog-form-inner {
  background-color: #ffffff;
  padding: 30px;
  width: 750px; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px; 
  margin: 20px auto;


}

/* Form title */
.blog-form-title {
  font-size: 24px;
  color: #333;
  font-stretch:extra-condensed;
  line-height: 40px;

  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
width: 770px; 
height: 40px;
text-align: center;

}

/* Form group */
.form-group {
  margin-bottom: 20px;
}

/* Form label */
.form-label {
  




  /* background-image: linear-gradient(-180deg, #007BFF, #0056D2); */
  /* background-image: linear-gradient(#f7f8fa ,#e7e9ec); */
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #e7e9ec;

  color: #007BFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
width: 200px; 
/* text-align: center; */
  line-height: 40px;
  margin-bottom: 10px;
  padding: 0 20px;
  /* text-transform: uppercase; */
  transition: background-color 0.2s;
}


.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button */
.submit-button {
  width: 100%;
  padding: 15px;
  background-image: linear-gradient(-180deg, #007BFF, #0056D2);
  /* background-color: #078BC8; */
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #006b9a;
}
