.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #f4f5f8; */
    padding: 20px;
  }
  
  .logo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .welcome-text {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .input-field {
    width: 150%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .forgot-password {
    color: red;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .login-button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #76bdff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .or-divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .or-divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .or-divider span {
    margin: 0 10px;
    color: #666;
  }
  
  .google-button,
  .facebook-button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .google-button i,
  .facebook-button i {
    margin-right: 10px;
  }
  
  @media (max-width: 480px) {
    .input-field,
    .login-button,
    .google-button,
    .facebook-button {
      max-width: 100%;
    }
  }
  