.side {
  width: 250px;
  padding: 15px;
  border-right: 1px solid #555555;
  color: black;
  height: 100vh; /* Make sure side takes full height */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Ensure the side is fixed */
}

.side-list {
  list-style-type: none;
  padding: 0;
}

.side-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.side-list li:hover {
  background-color: #ffd700; /* Slightly darker shade of yellow for hover effect */
}

.dropdown-toggle {
  font-weight: bold;
}

.dropdown-toggle.open {
  background-color: #ffd700; /* Same hover effect color when opened */
}

.dropdown-list {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.dropdown-list li {
  padding: 5px 0;
}
