@font-face{
    font-family: myFont;
    src: url("./utils/fonts/Arcon-Regular.otf")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Jost", sans-serif; */
    /* font-family: "Rubik", sans-serif; */
    font-family: myFont;


}

:root{
	/* --bs-font-sans-serif: 'Rubik', sans-serif; */
}

body {
    /* font-family: "Quicksand", sans-serif; */
    /* font-family: "Jost", sans-serif; */
    font-family: myFont;
    /* background-color: #ffffff; */
    background-color: #f4f6f8;

}
