@font-face{
    font-family: myFont;
    src: url("./utils/fonts/Arcon-Regular.otf")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Jost", sans-serif; */
    /* font-family: "Rubik", sans-serif; */
    font-family: myFont;


}



body {
    /* font-family: "Quicksand", sans-serif; */
    /* font-family: "Jost", sans-serif; */
    font-family: myFont;
    /* background-color: #ffffff; */
    /* background-color: #f4f6f8; */
  /* background: linear-gradient(120deg, #ffffff, #f8f9fd); */
  background: linear-gradient(120deg, #ffffff, #f8f9fd);


    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */


}
