.blog-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .blog-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .blog-table th, .blog-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .blog-table th {
    background-color: #5da8ff;
    color: white;
    text-transform: uppercase;
  }
  
  .blog-table tbody tr {
    cursor: pointer;
  }
  
  .blog-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .blog-table tbody tr:active {
    background-color: #ddd;
  }
  