body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(244, 244, 244, 0.8);
    position: relative;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #666;
}
.dropdown-item {
    display: flex;
    align-items: center;
  }
  
  .dropdown-item i {
    font-size: 24px;
  }
  
  .dropdown-item-content {
    margin-left: 10px;
  }
  
  .dropdown-item-content strong {
    font-weight: bold;
  }
  
  .dropdown-item-content p {
    margin-top: 5px;
    margin-bottom: 0;
    color: #666;
  }
.nav-dropdown {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.nav-dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
    width: auto;
    min-width: 400px;
}

.dropdown-column {
    margin-right: 20px;
}

.dropdown-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-item i {
    margin-right: 10px;
    color: #333;
}

.dropdown-item strong {
    color: #000;
    margin-right: 10px;
}

.dropdown-item p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}

.nav-hr {
    border: none;
    border-top: 1px solid #ddd;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    bottom: 0;
}
