
.content-right {
    flex: 1;
    background: white;
    margin-top: 40px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-container {
    width: 100%;
    max-width: 500px;
    padding: 40px;
  }
  
  .signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #76bdff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .or-divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .or-divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .or-divider span {
    margin: 0 10px;
    color: #666;
  }
  
  .social-buttons {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .social-button {
    flex: 1;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .social-button i {
    margin-right: 5px;
  }
  
  .signup-container p {
    text-align: center;
    margin-bottom: 0;
  }
  
  .signup-container p a {
    color: #76bdff;
    text-decoration: none;
  }
  
  .account-selection {
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .vertical-divider {
    border-left: 1px solid #ccc;
    height: 100px;
    margin-right: 20px;
  }
  
  .account-options {
    flex: 1;
  }
  
  .account-options h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .account-options p {
    color: #666;
    margin-bottom: 10px;
  }
  
  .client-label {
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 3px;
  }
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  
  .account-type-selector {
    display: flex;
  }
  
  .account-type-option {
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .account-type-option:hover {
    background-color: #e6e6e6;
  }
  